<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Style-Transfer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>

        <style>

        </style>
    </head>

    <body style="background-color:white;">
        <div class="container-fluid">
            <div class="col-sm-9">
                <h4>
                    <small>
                        Style-Transfer by gexvo
                    </small>
                </h4>
                <h4>
                    <form id="select1" method="post" runat="server">
                        <div style="width:200px;">
                            <select name="stylize"
                                    style="height:50px; font-size:20px; font-weight:bold; background-color:#b0e05e; color:black;"
                                    onchange="this.form.submit(); hideFunction()">
                                <option selected disabled>Choose style</option>
                                <option value="mosaic">Mosaic</option>
                                <option value="rainPrincess">Painting-Art</option>
                                <option value="churchWindow_originalOriginal">Church_oo</option>
                                <option value="churchWindow_smallSmall">Church_ss</option>
                                <option value="churchWindow_originalSmall">Church_os</option>
                                <option value="churchWindow_smallOriginal">Church_so</option>
                                <option value="tiger">Sun-Style</option>
                                <option value="fireworks">Night-Style</option>
                                <option value="tasi">New-Art</option>
                            </select>
                        </div>
                    </form>
                </h4>
                <p id="loadingText1" style='display:none; margin-left:2em;'>
                    <b>
                        Your pictue is being style-transferred. Please wait!
                    </b>
                </p>
                <p id="loadingText2" style="color:red; display:none; margin-left:2em;">
                    <b>
                        This process can take about 1 minute.
                    </b>
                </p>
                <hr>
                <img id="inputPic" src='static/userUploadImages/{{img_filename}}' hspace="20"/>
                <hr>
                <button type="button"
                        id="deleteB"
                        onclick="goBack2Start()"
                        style="height:50px; font-size:20px"
                        class="btn btn-danger">
                    Delete picture
                </button>
            </div>
        </div>

        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function (event) {
            history.pushState(null, document.title, location.href);
            });
            function goBack2Start() {
            window.location.href='https://gexvo.pythonanywhere.com';
            }
            function hideFunction() {
            document.getElementById('select1').style.visibility = 'hidden';
            document.getElementById('deleteB').style.visibility = 'hidden';
            document.getElementById('inputPic').style.display = 'none';
            document.getElementById('loading').style.display = 'block';
            document.getElementById('loadingText1').style.display = 'block';
            document.getElementById('loadingText2').style.display = 'block';
            }
        </script>

        <p style="color:white">.</p>
    </body>

</html>
