<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Style-Transfer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <style>

        </style>
    </head>

    <body style="background-color:white;">
        <div class="container-fluid">
            <div class="col-sm-9">
                <h4>
                    <small>
                        Style-Transfer by gexvo
                    </small>
                </h4>
                <h4>
                <hr>
                <img id="inputPic" src='static/userUploadImages/{{img_filename}}' hspace="10"/>
                <hr>
                <button type="button"
                        id="backB"
                        onclick="goBack()"
                        style="height:50px; font-size:20px"
                        class="btn btn-primary">
                    Select style
                </button>
                <button type="button"
                        id="deleteB"
                        onclick="goBack2Start()"
                        style="height:50px; font-size:20px"
                        class="btn btn-danger">
                    Delete picture
                </button>
            </div>
        </div>

        <script>
            history.pushState(null, document.title, location.href);
            window.addEventListener('popstate', function (event) {
            history.pushState(null, document.title, location.href);
            });
            function goBack() {
            var isIE = /*@cc_on!@*/false || !!document.documentMode;
            if (isIE == true)
            {
                window.history.go(-2);
            }
            else
            {
            var url = new URL(window.location.href);
            var parameter = url.searchParams.get('filename');
            if (parameter[3] == '_')
            {
                setGetParameter('filename', parameter)
            }
            else
            {
                //setGetParameter('filename', 'out_' + parameter)
                setGetParameter('filename', parameter)
            }}}
            function goBack2Start() {
            window.location.href='https://gexvo.pythonanywhere.com';
            }
            function setGetParameter(paramName, paramValue) {
            var url = window.location.href;
            var hash = location.hash;
            url = url.replace(hash, '');
            if (url.indexOf(paramName + "=") >= 0)
            {
            var prefix = url.substring(0, url.indexOf(paramName));
            var suffix = url.substring(url.indexOf(paramName));
            suffix = suffix.substring(suffix.indexOf("=") + 1);
            suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
            url = prefix + paramName + "=" + paramValue + suffix;
            }
            else
            {
            if (url.indexOf("?") < 0)
            url += "?" + paramName + "=" + paramValue;
            else
            url += "&" + paramName + "=" + paramValue;
            }
            window.location.href = url + hash;
            }
        </script>

    <p style="color:white">.</p>
    </body>

</html>

